PROJECT="sacs-lastname"
IMAGE="registry.rcp.epfl.ch/sacs-lastname/faremark:latest" # match the image
PVC="sacs-scratch"
MOUNT="/mnt/nfs"
USER_UID=123456 #find this in jumphost
USER_GID=12345 #find this in jumphost
MEMORY="32Gi"
NAMESPACE="runai-sacs-lastname"